/**
 * @file
 * Pushsay.com common styles
 */

html,.front{height: 100%;}

/****************
 * header
 ****************/
#header{padding-top:20px;background: #f3f3f3;}
#header .container{position: relative;}

/*navbar*/
#logo{float: left;margin:0 auto;color: #333;font:700 40px/40px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif; }
#logo a{color: #000;}
#logo a:hover{color: #f84242;text-decoration: none;-webkit-transition: color .3s;-moz-transition: color .3s;-o-transition: color .3s;-ms-transition: color .3s;transition: color .3s;}

.navbar .nav{float: right;margin:0;}
.navbar .nav > li{margin-left: 30px;}
.navbar .nav > li > a{color: #333;text-shadow:none;margin:0 -15px;}
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a{color:#f84242;background: none;box-shadow: none;-webkit-transition: color .3s;-moz-transition: color .3s;-o-transition: color .3s;-ms-transition: color .3s;transition: color .3s;}
.navbar .nav > li.active > a{font-weight: 700;}

/*language*/
.language-switcher-locale-url{list-style: none;position: absolute;top: -20px;right: 0;font-size: 12px;color: #fff;}
.language-switcher-locale-url li{display: inline;margin-left: 10px;padding-top:2px;}
.language-switcher-locale-url li a{color: #333;}
.language-switcher-locale-url li.active{border-top:2px solid #f84242;padding-top:0;}
.language-switcher-locale-url li.active a{color: #f84242;}

/***************
 * footer
 ***************/
#footer{padding:20px 0 0;background: #f5f5f5}
#footer p{font-size: 12px;}

#page-title{display: inline-block;margin:0;padding:20px 0 28px;border-bottom:2px solid #f84242;color: #f84242; font:100 48px/48px  'museo-sans', Geneva, sans-serif;}

#content{padding:40px 0 0;}

/******************
 * front
 ******************/
.front{color: #fff; background:#000 url(../images/about-slider/about-slider-1.jpg) no-repeat center center fixed;-webkit-background-size:cover;-o-background-size:cover;background-size: cover;}
.front #header,
.front #logo,
.front #logo a{color: #fff;}
.front #logo a:hover{color: #f84242;}
.front #header .navbar .nav a{color: #fff;}
.front #header .navbar .nav a:hover{color: #f84242;}

.front #header{background: none;border-bottom:none;}

.front .language-switcher-locale-url li a{color: #fff;}
.front .language-switcher-locale-url li.active a{color: #f84242;}

/* front stick*/
.front #page{min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -30px;}
.front #footer{height: 30px;text-align: right;padding:0;background: none;}

.front #content{padding:0;}
.front #content .links{display: none;}
.front #content .feed-icon{display: none;}
.front #content h2{margin-top: 20%;color: #fff;font:700 60px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;text-align: center;letter-spacing:-2px;}
.front #content h2 strong{text-shadow:2px 2px 2px #f84242;}



/********************
 * about
 ********************/
.about-slogn{margin:0 0 30px; font:700 50px "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;}

.disciplines-list{color: #fff;background: #f84242;padding:30px 40px;margin:0;font-size: 18px;}
.disciplines-list dt{margin-bottom:20px;}
.disciplines-list dd{line-height: 40px;margin:0;font-weight: 300;}

.about-process{margin-bottom:20px;}
.about-process dl{margin-left:10px;padding-left: 60px;background: url(../images/about-process/about-process.png) no-repeat -88px 0;}
.about-process dl dt{margin-bottom:10px;}
.about-process dl dd{margin:0;padding:0;}
.about-process dl.strategy{background-position: -88px 0;}
.about-process dl.design{background-position: -57px -31px;}
.about-process dl.branding{background-position: -28px -62px;}
.about-process dl.development{background-position: 0px -94px;}


/*********************
 * i18n
 *********************/
.i18n-en{font-family: 'museo-sans', Geneva, sans-serif;}
.i18n-en .about-slogn{font-size: 60px;}
.i18n-en.front #content h2{text-shadow:2px 2px 2px #f84242;}
.i18n-en.front #content h2 strong{font-size: 48px;color: #f84242;text-shadow:none;}
